/* ===== Extracted from functions.html ===== */

body.login div#login h1 a {
            background-image: url('/assets/img/logo_santajosefina.png');
            background-size: contain;
            width: 250px;
            height: 100px;
        }
